<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>better reads{{#if appData.title}} &middot; {{appData.title}} {{/if}}</title>

    <link href="/app.min.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    {{ view "header" }}

    <section id="content" class="container">
      {{{body}}}
    </section>

    <script src="/mergedAssets.min.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
